@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --main-theme-color: #89b7ab;
  --secondry-theme-color: #febd69;
  --swiper-theme-color: #000;
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

div[style="position: absolute; pointer-events: none; color: rgba(130, 130, 130, 0.62); z-index: 100000; width: 100%; text-align: center; bottom: 50%; right: 0px; letter-spacing: 5px; font-size: 24px;"] {
  display: none !important;
}

.app {
  display: flex;
  position: relative;
}

.w-100 {
  width: 100% !important;
}

img {
  object-fit: contain !important;
}

.MuiTablePagination-root svg[data-testid="ArrowDropDownIcon"] {
  color: #000 !important;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar {
  padding: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* background: linear-gradient(to top, #c72092 , #6c14d0); */
  background: #b1cdc6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(to down, #c72092 , #6c14d0); */
  background: #89b7ab;
}

/* End Scrollbar */

/* Swipper */

.swiper {
  width: 100%;
  height: 50vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* End Swipper */

/* Driver */

.driver-popover.driverjs-theme {
  background-color: var(--secondry-theme-color);
  color: #404553;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #404553;
}

.driver-popover.driverjs-theme button {
  flex: 1;
  text-align: center;
  background-color: #000;
  color: #ffffff;
  border: 2px solid #404553;
  text-shadow: none;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 6px;
}

.driver-popover.driverjs-theme button.driver-popover-close-btn {
  background: none;
  color: #000;
  border: none;
}

.driver-popover.driverjs-theme button:hover {
  background-color: #000;
  color: #ffffff;
}

.driver-popover.driverjs-theme button.driver-popover-close-btn:hover {
  background: none;
  color: #000;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: var(--secondry-theme-color);
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: var(--secondry-theme-color);
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: var(--secondry-theme-color);
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: var(--secondry-theme-color);
}

/* Start Date Range */

.css-12dlur-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected {
  color: #000000de !important;
  background-color: #90caf9 !important;
  font-weight: 500 !important;
}

.css-k2hoyd-MuiDateRangePickerDay-root {
  border-radius: 0px !important;
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: rgba(144, 202, 249, 0.12) !important;
}

.css-k2hoyd-MuiDateRangePickerDay-root:last-of-type {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.css-k2hoyd-MuiDateRangePickerDay-root:first-of-type {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.css-qmzqn-MuiDateRangePickerDay-root {
  border-radius: 0px 50% 50% 0px !important;
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: rgba(144, 202, 249, 0.12) !important;
  padding-right: 0px !important;
}

.css-15lm5kn-MuiDateRangePickerDay-root {
  border-radius: 50% 0px 0 50% !important;
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: rgba(144, 202, 249, 0.12) !important;
  padding-left: 0px !important;
}

/* End Date Range */

/* Responsive */

/* If the screen size is 768px (Tablet) or less */
@media screen and (max-width: 768px) {
  h4 {
    font-size: 14px !important;
  }
  h2 {
    font-size: 24px !important;
  }
}

/* If the screen size is 425px (Mobile L - M - S) or less */
@media screen and (max-width: 425px) {
  h4 {
    font-size: 12px !important;
  }
  h2 {
    font-size: 21px !important;
  }
}

/* If the screen size is 1024px (Labtop S & Tablet) or less */
@media screen and (max-width: 1024px) {
  h4 {
    font-size: 15px !important;
  }
  h2 {
    font-size: 19px !important;
  }
}

/* End Responsive */